.bycle{
position: absolute;
top: 1090px;
font-size: 70px;    
 animation: bycle 3s linear infinite;

}
@keyframes bycle {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}